<div class="side-nav-content ">
  <ul class="nav-list" [ngClass]="{'nav-list-open':SideNavStatus}">
    <li class="nav-list-item "
     >
      <i class="fas fa-user-plus"></i>
      <span>
        <a href="/louay">Ajouter client</a>
        
      </span>

    </li>

    <li class="nav-list-item "
    >
     <i class="fa-solid fa-camera"></i>
     <span>
       <a href="/test">Reconaissance</a>
       
     </span>

   </li>
    <li class="nav-list-item "
     >
     <i class="fa-solid fa-person"></i>      <span>
        <a href="/entreneur">Ajouter entreneur</a>
        
      </span>

    </li>
    <li class="nav-list-item "
    >
    <i class="fa-solid fa-magnifying-glass"></i>     <span>
       <a href="/affclient">Afficher client</a>
       
     </span>

   </li>
   <li class="nav-list-item "
   >
   <i class="fa-solid fa-magnifying-glass"></i>    <span>
      <a href="/affentreneur">Afficher entreneur</a>
      
    </span>

  </li>



  </ul>
</div>
